*.log
*.key
*.crt
*.cert
*.pem
*.pub
./*.exe
./*.msi
./*.zip
./*.tar
./*.tar.gz
./*.tar.bz2
*.tar.xz
.DS_Store
__pycache__
.venv/
venv/
.development/
development/
./frontend/node_modules
node_modules/
dist/
.env
.env.local
npm-debug.log
.vscode/
.DS_Store
